/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

#define NORMAL 0
#define NAV 1 
#define NUM 2
#define LSYM 3
#define RSYM 4
#define MACKEYS 5
#define FUNCTION 6


/ {
    chosen {
        zmk,physical-layout = &default_layout;
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "NORMAL";
            // --------------------------------------------------------------------------------------------------------------------------------------------------------------
            // | TAB       |  Q        |  W       |  E       |  R (LSMB) |  T      |  MUTE    |  PP    |  Y      |  U        |  I       |  O       |  P          | BSPC     |
            // | ESC       |  A (ctrl) |  S (opt) |  D (cmd) |  F (shft) |  G      |  LALT    |  RALT  |  H      |  J        |  K       |  L       |  ;          |  '       |
            // | SHFT      |  Z        |  X       |  C       |  V        |  B      |                   |  N      |  M        |  ,       |  .       |  /          | ESC      |
            //                                    |  CAPS    | DEL       | SPC     |                   |  SPC    | MACKEYS   | ALT      |
            // --------------------------------------------------------------------------------------------------------------------------------------------------------------
            bindings = <
                &kp TAB     &kp Q       &kp W      &kp E      &lt LSYM R  &kp T     &kp C_MUTE &kp C_PP &kp Y     &lt RSYM U  &kp I      &kp O      &kp P          &kp BSPC
                &kp ESC     &mt LCTRL A &mt LALT S &mt LCMD D &mt LSHFT F &kp G     &kp DEL    &kp BSPC &kp H     &mt RSHFT J &mt RCMD K &mt RALT L &mt RCTRL SEMI &kp RET
                &kp LSHFT   &kp Z       &kp X      &kp C      &kp V       &kp B                         &kp N     &kp M       &kp COMMA  &kp DOT    &kp FSLH       &kp RSHFT
                                                   &kp CAPS   &mo DEL     &kp SPACE                     &kp SPACE &mo MACKEYS &kp RALT
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        nav_layer {
            display-name = "NAV";
            // -----------------------------------------------------------------------------------------------------------------------
            // |      |         |         |       |         |       |      |      | Page Up | Home   | Up     | End     |     |      |
            // |      | (ctrl)  | (opt)   | (cmd) | (shift) |       |      |      | Page Dn | Left   | Down   | Right   |     |      |
            // |      |         |         |       |         |       |             |         |        |        |         |     |      |
            //                            |       |         |       |             |         |        |        |
            bindings = <
                &trans &trans    &trans   &trans   &trans    &trans  &trans &trans &kp PG_UP &kp HOME &kp UP   &kp END   &trans &trans
                &trans &kp LCTRL &kp LALT &kp LCMD &kp LSHFT &trans  &trans &trans &kp PG_DN &kp LEFT &kp DOWN &kp RIGHT &trans &trans
                &trans &trans    &trans   &trans   &trans    &trans                &trans    &trans   &trans   &trans    &trans &trans
                                          &trans   &trans    &trans                &trans    &trans   &trans 
            >;
        };

        num_layer {
          display-name = "NUM";
          // ------------------------------------------------------------------------------------------------------------------------------------------------
          // |      |            |           |           |            |      |      |      |      |            |           |           |            |       |
          // |      | 1 (ctrl)   | 2 (opt)   | 3 (cmd)   | 4 (shift)  |      |      |      |      | 5 (shift)  | 6 (cmd)   | 7 (opt)   | 8 (ctrl)   |       |
          // |      |            |           |           |            |             |      |      | 9          | 0         | .         |            |       |
          //                     |           |           |            |             |      |      |            |           |           |            |       |
          bindings = <
              &trans &trans       &trans      &trans      &trans       &trans &trans &trans &trans &trans       &trans      &trans      &trans       &trans  
              &trans &mt LCTRL N1 &mt LALT N2 &mt LCMD N3 &mt LSHFT N4 &trans &trans &trans &trans &mt RSHFT N5 &mt RCMD N6 &mt RALT N7 &mt RCTRL N8 &trans
              &trans &trans       &trans      &trans      &trans                     &trans &trans &kp N9       &kp N0      &kp DOT     &trans       &trans
                                  &trans      &trans      &trans                     &trans &trans &trans
          >;
        };

        lsym_layer {
          display-name = "LSYM";
          // -------------------------------------------------------------------------------------------------------------------------
          // |      |    ~    |    @    |    <    |    >   |    *    |      |      |      |      |      |      |      |      |
          // |      |    |    |    !    |    '    |    "   |    &    |      |      |      |      |      |      |      |      |
          // |      |    ^    |    %    |    $    |    #   |         |             |      |      |      |      |      |      |
          //                            |         |        |         |             |      |      |      | 
          bindings = <
              &trans &kp TILDE &kp AMPS  &kp LT    &kp GT   &kp ASTRK &trans &trans &trans &trans &trans &trans &trans &trans
              &trans &kp PIPE  &kp EXCL  &kp SQT   &kp DQT  &kp AMPS  &trans &trans &trans &trans &trans &trans &trans &trans 
              &trans &kp CARET &kp PRCNT &kp DLLR  &kp HASH &trans                  &trans &trans &trans &trans &trans &trans 
                                         &trans    &trans   &trans                  &trans &trans &trans
          >;
        };

        rsym_layer {
          display-name = "RSYM";
          // -------------------------------------------------------------------------------------------------------------------------
          // |      |      |      |      |      |      |      |      |      |    ?    |    {    |    }   |    /    |         |       |
          // |      |      |      |      |      |      |      |      |      |    `    |    (    |    )   |    +    |         |       |
          // |      |      |      |      |      |      |      |             |         |    [    |    ]   |    -    |         |       |
          //                      |      |      |      |      |             |         |        |         |         |         |       |
          bindings = <
              &trans &trans &trans &trans &trans &trans &trans &trans &trans &kp QMARK &kp RBKT &kp RBRC  &kp FSLH  &kp BSLH  &trans
              &trans &trans &trans &trans &trans &trans &trans &trans &trans &kp GRAVE &kp RPAR &kp PLUS  &kp PLUS  &kp EQUAL &trans 
              &trans &trans &trans &trans &trans &trans &trans               &trans    &kp RBRC &kp MINUS &kp UNDER &trans    &trans
                                        &trans &trans &trans                 &trans    &trans   &trans
          >;
        };

        mackeys_layer {
          display-name = "MACKEYS";
          // -------------------------------------------------------------------------------------------------------------------------
          // |      |      |          | (Brght Up) | (Brght Dn) |      |      |      |      |      |      |      |      |      |
          // |      |      |  (Prev)  | (Play)     | (Pause)    |      |      |      |      |      |      |      |      |      |
          // |      |      |  (Mute)  | (Vol Down) | (Vol Up)   |      |             |      |      |      |      |      |      |
          //                          |            |            |      |             |      |      |      | 
          bindings = <
              &trans &trans &trans     &kp C_BRI_UP &kp C_BRI_DN &trans &trans &trans &trans &trans &trans &trans &trans &trans
              &trans &trans &kp C_PREV &kp C_PP     &kp C_PAUSE  &trans &trans &trans &trans &trans &trans &trans &trans &trans
              &trans &trans &kp C_MUTE &kp C_VOL_DN &kp C_VOL_UP &trans &trans &trans &trans &trans &trans &trans &trans &trans
                                       &trans       &trans       &trans               &trans &trans &trans
          >;
        };

        function_layer {
          display-name = "FUNCTION";
          // ------------------------------------------------------------------------------------------------------------------------------------------------
          // |      |         |        |        |         |      |       |      |      |  F1   |  F2   |  F3  |  F4  |      |
          // |      | (ctrl)  | (opt)  | (cmd)  | (shift) |      |       |      |      |  F5   |  F6   |  F7  |  F8  |      |
          // |      |         |        |        |         |      |              |      |  F9   |  F10  |  F11 |  F11 |      |
          //                           |        |         |      |              |      |       |       |
          bindings = <
              &trans &trans    &trans   &trans   &trans    &trans  &trans &trans &kp F1 &kp F2  &kp F3  &kp F4 &trans &trans
              &trans &kp LCTRL &kp LALT &kp LCMD &kp LSHFT &trans  &trans &trans &kp F5 &kp F6  &kp F7  &kp F8 &trans &trans
              &trans &trans    &trans   &trans   &trans    &trans                &kp F9 &kp F10 &kp DOT &trans &trans &trans 
                                        &trans   &trans    &trans                &trans &trans  &trans 
          >;
        };
    };
};
